<div>Catégorie {{  }}</div>

<div>Niveau {{  }}</div>

<div>Temps restant : {{  }}</div>

<div>
    <div>Question : {{  }}</div>
    <div>A : {{  }}</div>
    <div>B : {{  }}</div>
    <div>C : {{  }}</div>
    <div>D : {{  }}</div>
    <form>
        <input type="button" value="Vas y, fait péter la question suivante, je suis chaud patate !!!">
    </form>
</div>