{% extends 'base.html.twig' %}
{% block title %}STEVE MCQUIZZ{% endblock %}
{% block body %}
    <nav class="navbar navbar-default nav">
        <div class="container-fluid">
            <div class="navbar-header nav">
                <a href="front/profil.php"><img src="img/stevemcquizzmini.png" class="navbar-brand"></a>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}