{% extends 'base.html.twig' %}

{% block title %}STEVE MCQUIZZ{% endblock %}
{% block body %}
    <div class="container accueil">
        <div class="row">
            <div class="col-xs-12 logo">
                <img src="img/stevemcquizz.svg" class="rounded mx-auto d-block img-title" alt="Responsive image">
                <h1 class="titre font-vintage text-center">STEVE MCQUIZZ</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="btn btn-default btn-lg btn-block bouton font-vintage" type="submit" value="NOUVEAU JOUEUR">
                <input class="btn btn-default btn-lg btn-block bouton font-vintage" type="submit" value="DEJA INSCRIT">
            </div>
        </div>
    </div>

{% endblock %}
