{% extends 'base.html.twig' %}
{% block title %}STEVE MCQUIZZ{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 logo">
                <img src="img/stevemcquizz.svg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-xs-12 titre">
                <h1 class="titre font-vintage">STEVE MCQUIZZ</h1>
            </div>
        </div>
    </div>

{% endblock %}
