{# src/WCS/AdminBundle/Resources/views/Default/index.html.twig #}

{% extends 'WCSAdminBundle::base.html.twig' %}

{#{% block headtitle %}#}
    {#<title>Administration Steve McQuizz</title>#}
{#{% endblock %}#}


{#{% block pagetitle %}#}
    {#<h1>Gestion des questions</h1>#}
{#{% endblock %}#}


{% block content %}

GLOP


{% endblock %}


