{% extends 'base.html.twig' %}

{% block body %}
    <div>Catégorie</div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12">Niveau</div>
            <div class="col-md-8 col-xs-12">
                <div>Question :</div>
                <div>
                    <div class="col-md-6">A :</div>
                    <div class="col-md-6">B :</div>
                    <div class="col-md-6">C :</div>
                    <div class="col-md-6">D :</div>
                </div>
                    <form>
                        <input type="button" value="Vas y, fait péter la question suivante, je suis chaud patate !!!">
                    </form>
            </div>
            <div class="col-md-2 col-xs-12">Temps restant :</div>
        </div>
    </div>
{% endblock %}
