@font-face {
    font-family: 'Vintage';
    src: url('../fonts/vintage.otf');
}
.font-vintage{
    font-family: 'Vintage';
}
body{
    background-color: #ffeeaa;
    background-image: url("../img/stevet.png");
    background-size: cover;
}
.bg{

}


/*page d'accueil*/
.img-title {
    margin-top: -5%;
    align-self: center;
    width: 60%;
    margin-left: 18%;
}
.titre {
    font-weight: bold;
    font-size: 5em;
    color: #aa8800;
    margin-top: 0;
    padding-top: 0;
}

@keyframes appear {
    0% {opacity:0;}
    20%{opacity:0;}
    100%{opacity:1;}
}
@keyframes precision{
    0% {opacity:0;}
    90%{opacity:0;}
    100%{opacity:1;}
}
.precision{
    animation-name: precision;
    animation-duration: 7s;
    font-size:2em;
}
.logo{
    animation-name: appear;
    animation-duration: 1s;
    margin-bottom: 5%;
}
@media(max-width:1000px){
    .bouton {
        width: 100%!important;
        font-size: 1em;
    }
    .precision{
        font-size:1em;
    }
    .boutons{
        margin-left:0!important;
    }
}
.bouton{
    width: 30%;
    background-color: #d4aa00;
    border: none;
    margin-bottom: 3%;
    font-size: 2em;
}
.boutons{
    margin-left: 33%;
    animation-name: appear;
    animation-duration: 1s;
    margin-bottom: 5%;
}
.bouton:hover {
    background-color: #c8beb7;

}
.rightbutton{
    margin-left:5%;
}
.leftbutton{
    margin-right: 5%
}
/*fin page d'accueil*/

/*page profil utilisateur*/
.nav{
    background-color: rgb(0,30,34)!important;
    opacity: 0.6;
    border: none;
    height: 5%!important;
}
.bonjour {
    font-size: 3em;
    color: rgb(0,30,34);
    font-weight:bold;
    opacity: 1;
    text-align: center;
    margin-bottom:3%;
}
.stats{
    color: rgb(0,30,34);
    text-align: center;
}
.left{
    border-right:1px solid rgb(0,30,34);
}
.yiha{
    margin-left:35%;
    margin-bottom:10%;
    margin-top: 5%;
}

@-webkit-keyframes shadow-drop-lr{
    0%{box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}
    100%{box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35)}
}

.themes{
    background-color: #e5d699;
    border-radius: 50%;
    height: 120px;
    width:120px;
    margin:5%;
    line-height:4.5em;
    text-align: center;
    font-size:1.8em;

}
.theme{
}
.themes:hover{
    animation-name: shadow-drop-lr;
    animation-duration: 0.4s;
    box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35)

}
.total{
    font-size: 3em;
    text-align: center;
    color: #ff6600;
    font-weight:bold;
    margin-top: 3%;
}
.classement{
    text-align: center;
}

/*page challenge*/
.categorie{
    margin-top: 25px;
    font-size: 30px;
}

.bloc{
    top: 40px;
    height: 500px;
    background-color: #dfd095;
    border: 2px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px #9f956a;
    opacity: 0.8;
}

.question{
    padding-top: 50px;
    font-size: 30px;
}

.patate{
    bottom: 30px;
    position: absolute;
}

.repab{
    margin-top: 100px;
}

.repcd{
    margin-top: 100px;
}

.clear{
    height: 50px;
}

.indicateur{
    top: 200px;
    font-size: 30px;
}

.valeur{
    top: 200px;
    font-size: 50px;
    color: red;
}

.quizz{
    top: 100px;
    position: absolute;
    width: 97%;
    opacity: 0.2;
}

