{# --- src/view/admin/Layout.twig --- #}

<!DOCTYPEhtml>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% block headtitle %} {% endblock %}
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32" />
    <meta name="robots" content="noindex, nofollow">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>


{# -- navbar-collapse menu burger -- #}

<header>
    <div class="container-fluid">
        <div class="row bandeau">
            Steve McQuizz
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 text-center titre">
            {% block pagetitle %} {% endblock %}
        </div>
    </div>

    {% block content %} {% endblock %}

    <footer class="row">
        <div class="col-xs-12 text-right footer">
            <a href="http://wildcodeschool.fr/orleans" target="_blanc">
                <img src="../img/admin-logo-blanc-wcs.png" alt="logo Wild Code School" height="50"/>
            </a>
        </div>

    </footer>

</div>

<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

</body>








<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Qdlmqt{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
