{# --- src/WCS/AdminBundle/Resources/view/admin/Layout.twig --- #}

<!DOCTYPEhtml>
<html lang="fr">
<head>
    {#<meta charset="utf-8">#}
    {#{% block headtitle %} {% endblock %}#}
    {#<link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32" />#}
    {#<meta name="robots" content="noindex, nofollow">#}
    {#<link href="css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="css/admin.css" rel="stylesheet">#}
</head>
<body>


{# -- navbar-collapse menu burger -- #}

{#<header>#}
    {#<div class="container-fluid">#}
        {#<div class="row bandeau">#}
            {#Steve McQuizz#}
        {#</div>#}
    {#</div>#}
{#</header>#}

{#<div class="container-fluid">#}
    {#<div class="row">#}

        {#<div class="col-xs-12 text-center titre">#}
            {#{% block pagetitle %} {% endblock %}#}
        {#</div>#}
    {#</div>#}

    {% block content %} {% endblock %}

    {#<footer class="row">#}
        {#<div class="col-xs-12 text-right footer">#}
        {#</div>#}
    {#</footer>#}

{#</div>#}

{#<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>#}
{#<script type="text/javascript" src="js/bootstrap.min.js"></script>#}

</body>
</html>
